body {
  background-color: #eee;
  color: #000;
}

section {
  margin: 30px auto;
  padding: 12px;
  width: 90%;
  background-color: #fff;
}

nav * {
  display: inline-block;
  margin: 0;
  padding: 6px 9px;
  color: #000;
  text-decoration: none;
}